service: ecommerce-backend

frameworkVersion: "4"

provider:
  name: aws
  runtime: nodejs22.x
  region: ap-south-1
  stage: prod
  memorySize: 1024
  timeout: 15

  environment:
    NODE_ENV: production
    PORT: ${env:PORT}
    FRONTEND_ORIGIN: ${env:FRONTEND_ORIGIN}
    JWT_ACCESS_SECRET: ${env:JWT_ACCESS_SECRET}
    JWT_REFRESH_SECRET: ${env:JWT_REFRESH_SECRET}
    EMAIL_VERIFY_SECRET: ${env:EMAIL_VERIFY_SECRET}
    SMTP_HOST: ${env:SMTP_HOST}
    SMTP_PORT: ${env:SMTP_PORT}
    SMTP_USER: ${env:SMTP_USER}
    SMTP_PASS: ${env:SMTP_PASS}
    CLOUDINARY_CLOUD_NAME: ${env:CLOUDINARY_CLOUD_NAME}
    CLOUDINARY_API_KEY: ${env:CLOUDINARY_API_KEY}
    CLOUDINARY_API_SECRET: ${env:CLOUDINARY_API_SECRET}
    GOOGLE_CLIENT_ID: ${env:GOOGLE_CLIENT_ID}
    GOOGLE_CLIENT_SECRET: ${env:GOOGLE_CLIENT_SECRET}
    RAZORPAY_KEY_ID: ${env:RAZORPAY_KEY_ID}
    RAZORPAY_KEY_SECRET: ${env:RAZORPAY_KEY_SECRET}
    RAZORPAY_WEBHOOK_SECRET: ${env:RAZORPAY_WEBHOOK_SECRET} 

  httpApi:
    cors:
      allowedOrigins:
        - https://www.yodhafoods.com
        - https://yodhafoods.com
        - http://localhost:3000
      allowedHeaders:
        - Content-Type
        - Authorization
        - Cookie
      allowedMethods:
        - GET
        - POST
        - PUT
        - PATCH
        - DELETE
        - OPTIONS
      allowCredentials: true

functions:
  api:
    handler: dist/handler.handler
    events:
      - httpApi:
          path: /{proxy+}
          method: ANY

package:
  patterns:
    - dist/**
    - 'node_modules/**'

plugins: []
